# Test report

## jacoco test report 

### updated: week 3

| Report          | Coverage | Missed        |
|-----------------|----------|---------------|
| Line   | 45%      | 513 of 943     |
| Branch | 36%      | 	65 of 102     |
