# Test report

## jacoco test report 

### updated: week 3

| Report          | Coverage | Missed        |
|-----------------|----------|---------------|
| Line   | 	64%     | 414 of 1,162   |
| Branch | 53%     | 	63 of 136    |
