# Test report

## jacoco test report 

| Report          | Coverage | Missed        |
|-----------------|----------|---------------|
| Line   | 76%      | 81 of 354     |
| Branch | 92%      | 2 of 28       |
