# Test report

## jacoco test report 

### updated: week 3

| Report          | Coverage | Missed        |
|-----------------|----------|---------------|
| Line   | 45%      | 572 of 901     |
| Branch | 36%      | 63 of 90       |
